{% extends 'todo/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-4">
    <div class="col-md-8 col-lg-6 row justify-content-center">
        <h3 class="text-center custom-border-radius">Password reset sent.</h3>
        
        <div class="col bg-secondary mt-3 mb-5 p-2 custom-border-radius">

            <p class="lead bg-success rounded m-2 p-2 fw-bold fs-5 text-white border border-info">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

            <p class="lead bg-success rounded m-2 mt-3 p-2 fw-bold fs-5 text-white border border-info">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

        </div>
    </div>
</div>

{% endblock content %}